@import "styles/variables.scss";

.menu {
  display: flex;
  justify-content: space-between;

  &__item {
    &:not(:last-child) {
      margin-right: $space-m;
    }
  }

  &__link {
    color: $color-dark;
  }
}
