$color-grey: #ededed;
$color-dark: #4a4a4a;
$color-orange: #ea7f28;
$color-brown: #d37324;

$font-size-xl: 32px;
$font-size-l: 18px;
$font-size-m: 14px;
$font-size-s: 12px;

$space-l: 24px;
$space-m: 12px;
$space-s: 8px;

$radius-s: 2px;
