@import "styles/variables.scss";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    flex-grow: 1;
    max-width: 1000px;
    width: 100%;
    padding: 0 $space-m;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__header {
    border-bottom: 1px solid $color-grey;
  }

  &__content {
    flex-grow: 1;
    align-items: center;

    &--centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__footer {
    border-top: 1px solid $color-grey;
  }
}
